*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 500 14px/1.4 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
}
/* 
.container {
  display: flex;
} */

.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
